/* Import */
@import url('normalize.css');

/* Fonts  font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary: #FC9200;
    --second: #03005B;
    --third: #3A00A0;
}
/* General */
*{
    margin: 0;
    padding: 0;
}

*,*::before,*::after{box-sizing: inherit;}

/* Labels */
html{
    font-size: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1{font-size: 3.8rem;}
h2{font-size: 3.2rem;}
h3{font-size: 2.8rem;}
h4{font-size: 2.5rem;}
p,a,li{font-size: 1.5rem;}
a{text-decoration: none;}

img{width: 100%;}
/* Class */

/* Utilities */
.contenedor{
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}
/* Textos */
.ti{text-align: left;}
.tc{text-align: center;}
.td{text-align: right;}
.tj{text-align: justify;}


/* Grid */
.g{display: grid;}
.gp{column-gap: 2rem;}

/* Movil grid */
.mg-2{grid-template-columns: repeat(2, 1fr);}
.mg-3{grid-template-columns: repeat(3, 1fr);}

/* PC grid */
@media only screen and (min-width: 768px) {
    .g-2{grid-template-columns: repeat(2, 1fr);}
    .g-3{grid-template-columns: repeat(3, 1fr);}
    .g-4{grid-template-columns: repeat(4, 1fr);}
}

/* Botones */
.btn{
    display: block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    width: auto;
    color: #FFFFFF;
    border-radius: 3rem;
    width: 25rem;
    margin: 1rem auto;
    font-weight: 500;
}
.btn-main{
    background: var(--primary);
}

/* Section */
/* Header */
.header{
    padding: 3rem 0;
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(to top, #FFFFFF 0%,  #03005B 95%, #342F7D 98%,  #000000 100%);
}

.header-contenido{grid-template-columns: 80% 20%;}

/* logo */
.logo{
    padding: 0 1rem;
}
.logo img{width: 20%;}
.logo a{
    font-size: 2.5rem;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
}

/* Meu Movil */
.menu-movil{
    color: #742894;
    padding: 2rem 1rem;
    font-size: 4rem;
}

/* Nav */
.nav{
    z-index: 9;
    background: var(--second);
    width: 125%;
    margin: 0 auto;
    text-align: center;
}
.nav a{
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem auto 2rem auto;
    display: block;
    color: #FFFFFF;
    border-bottom: 0.1rem solid #FFFFFF;
}

@media only screen and (min-width: 768px) {
    .header{}
    .header-contenido{grid-template-columns: 30% 70%;}
    .logo{
        display: flex;
        margin: 2rem auto;
        align-content: center;
    }
    .logo img{
        margin-top: -2rem;
        width: 40%;
    }
    .menu-movil{display: none;}
    .nav{
        background: none;
        width: 100%;
        height: 6.5rem;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
    }
    .nav a{
        font-size: 1.5rem;
        margin: 0 0 0 0;
        border: none;        
        padding: 2rem 0.5rem 0rem 0.5rem;
        display: inline;
        transition: all 1s ease;
    }
    .nav a:hover{
        background: #160B66;
        border-radius: 3rem;
    }
}

@media only screen and (min-width: 900px) {
    .header{}
    .header-contenido{grid-template-columns: 40% 60%;}
    .logo{}
    .logo img{}
    .menu-movil{}
    .nav{}
    .nav a{font-size: 2rem;}
    .nav a:hover{}
}

/* Hero */
.hero{}
.hero-content{margin: 1rem auto;}
.hero-img{}
.hero-contenindo{margin-top: 2rem;}
.hero-contenindo h3{color: var(--second);}


@media only screen and (min-width: 768px) {
    .hero{}
    .hero-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .hero-img{
        grid-column: 2;
        grid-row: 1;
    }
    .hero-contentindo{
        grid-column: 1;
        grid-row: 1;
        margin-top: 20%;
    }
}

/* Paquetes y precios */
.paquetes{
    color: #FFFFFF;
    padding: 2rem 0;
    background: var(--third);
}
.paq-componente{padding: 2rem 0.5rem;}
.paq-componente p{font-size: 1.5rem;}
.paq-componente p i{
    padding: 1rem;
    font-size: 5rem;
}

/* Información paquetes */
.info-paquetes{
    width: 80%;
}
.flechas{
    font-size: 5rem;
    color: #FF00FF;
}

.info-paquete{
    background-image: linear-gradient(to top, #AF00AE 0%,  #2C57FC 100%);
    border-radius: 3rem;
    padding: 2rem 1rem;
    margin: 1rem;
}
.info-paquete h3, .info-paquete h4{margin: 1rem auto;}
.info-paquete p{
    padding: 1rem 0;
    border-top: 0.2rem solid #FFFFFF;
}


@media only screen and (min-width: 768px) {
    .flechas{display: none;}
    .info-paquetes{}
    .info-paquete{}
    .info-paquete p{}   
}

/* Portafolios */
.portafolios{
    padding: 2rem 1rem;
    background-image: linear-gradient(to top, rgba(207, 217, 223, 0.4) 0%, rgba(226, 235, 240, 0.4) 100%), url('../img/back1.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.portafolios h2, .portafolios h4{padding: 2rem 0;}
.portafolios p{padding: 2rem 0;}
.contenido-portafolio{}
.portafolio{}
.portafolio a{
    color: var(--second);
}
.vermas{}

@media only screen and (min-width: 768px) {
    .portafolios{}
    .portafolios h2{}
    .portafolios h4{}

    .portafolios p{margin: 1rem auto;}

    .contenido-portafolio{
        display: grid;
        column-gap: 2rem;
        grid-template-columns: 30% 70%;
    }

    .portafolio{margin: 1rem auto;}

    .vermas{margin-left: 40%;}
}

/* proyectos */
.proyectos{
    padding: 2rem 1rem;
    background-image: linear-gradient(135deg, rgba(245, 247, 250, 0.7) 0%, rgba(195, 207, 226, 0.7) 100%), url('../img/back5.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.proyectos h2, .proyectos h4{padding: 2rem 0;}
.proyectos p{padding: 2rem 0;}
.contenido-proyecto{}
.proyecto{}
.proyecto a{
    color: var(--second);
}
.vermas{}

@media only screen and (min-width: 768px) {
    .proyectos{}
    .proyectos h2{}
    .proyectos h4{}

    .proyectos p{margin: 1rem auto;}

    .contenido-proyecto{}

    .proyecto{margin: 1rem auto;}

    .vermas{margin-left: 40%;}
}

/* Contacto */
.mContacto{
    padding: 4rem 2rem;
    background-image: linear-gradient(135deg, rgba(245, 247, 250, 0.9) 0%, rgba(195, 207, 226, 0.9) 100%),  url('../img/back6.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mContacto h4, .mContacto p, .mContacto a{margin: 2rem auto;}

/* Footer */
.footer{
    padding: 2rem 1rem;
    background: var(--third);
}
.footer-conte{}
.footer-item{
    margin: 1rem auto;
    color: #FFFFFF;
}
.footer-item h4, .footer-item p, .footer-item a{margin: 1rem;}

.footer-item img{
    width: 10rem;
    height: 10rem;
}
.footer-item a{
    font-size: 1.7rem;
    display: block;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
}

.fb{color: #3b5998;}

.maker{
    background: #000000;
    padding: 2rem 0;
    text-align: center;
    color: #FFFFFF;
}
.maker a{
    font-weight: 700;
    color: #FFFFFF;
}

/* Pagina nosotros */
.nosotros{}

.nosotros-img{}

.nosotros-contenido{
    margin: 2rem auto;
}
.nosotros-contenido h3, .nosotros-contenido h4{margin: 1rem auto;}
.nosotros-contenido p{margin: 2rem auto;}

/* Modelos */
.modelos{}
.modelo{margin: 2rem auto;}
.modelo a{color: var(--second);}
.modelo a h4{margin: 1rem auto;}

/* Contacto */
.contacto{
    padding: 7rem 1rem;
    background-image: linear-gradient(to top, rgba(207, 217, 223, 0.3) 0%, rgba(226, 235, 240, 0.3) 100%), url('../img/back2.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.clogo{margin-top: -2rem;}
.contacto-info{color: var(--third);}
.contacto-formulario{margin: 5rem auto;}
.campo{
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 2rem;
    margin: 1rem auto;
}
.campo input[type="text"], .campo input[type="tel"], .campo input[type="email"], .campo textarea{ padding: 1rem;}

@media only screen and (min-width: 768px) {
    .contacto{}
    .contacto-info{margin: 5rem auto;}
    .contacto-formulario{}
}
/* IDs */